<h1>Timestamp Microservice</h1>

<form id="form" action="/date" method="GET">
    <input type="date" name="date" placeholder="Enter a date or unix timestamp"> 
    <input type="submit"> 
</form>

<h4>Natural date: </h4>
<p>{{date}}</p>
<h4>Unix timestamp: </h4>
<p>{{timestamp}}</p>